<div class="magic-translation-settings">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>Magic Translation</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div class="openai_restorable flex-container">
                <div class="title_restorable">
                    <label>Connection Profile</label>
                    <button
                        class="menu_button fa-solid fa-route interactable redirect_sys_settings"
                        title="Go to connection profile tab"
                    ></button>
                </div>
                <select class="text_pole profile" title="Select a Connection Profile">
                    <option value="">Select a Connection Profile</option>
                </select>

                <label>Auto Mode</label>
                <select class="text_pole auto_mode">
                    <option data-i18n="ext_translate_mode_none" value="none">None</option>
                    <option data-i18n="ext_translate_mode_responses" value="responses">Translate responses</option>
                    <option data-i18n="ext_translate_mode_inputs" value="inputs">Translate inputs</option>
                    <option data-i18n="ext_translate_mode_both" value="both">Translate both</option>
                </select>

                <label>Target Language</label>
                <select class="text_pole target_language" title="Select a Target Language">
                    {{#each languageCodes}}
                    <option value="{{@key}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>

                <label>Internal Language</label>
                <select class="text_pole internal_language" title="Select an Internal Language">
                    {{#each languageCodes}}
                    <option value="{{@key}}" {{#if this.internalSelected}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>

                <div class="title_restorable">
                    <label>Prompt Preset</label>
                </div>
                <select class="text_pole prompt_preset" title="Select a Prompt"></select>

                <div class="title_restorable">
                    <label for="prompt">Prompt</label>
                    <button
                        class="menu_button fa-solid fa-undo interactable restore_default"
                        data-i18n="[title]Restore default"
                        title="Restore default"
                    ></button>
                </div>

                <textarea class="text_pole textarea_compact prompt" rows="4"></textarea>

                <div class="flex-container">
                    <label class="checkbox_label">
                        <input type="checkbox" class="filter_code_block" />
                        Filter Code Block: Get text between ``` marks (Recommended)
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
